spring:
  application:
    name: authorization-server

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect

  config:
    import: optional:file:.env[.properties]

server:
  port: 9000
